<h1>k0r0pt Image Gen Prompt Generator</h1>
<mat-divider></mat-divider>
<div class="linksGrid">
  <div id="githubLink"><mat-icon color="primary">home</mat-icon> <b><a href="https://github.com/k0r0pt/aiImagePromptGenerator">Github</a></b></div>
  <div id="runLink"><mat-icon color="primary">home</mat-icon> <b><a href="https://ai-image-prompt-gen.sudipto.me">Run</a></b></div>
  <div id="buildStatusLink"><a href="https://github.com/k0r0pt/aiImagePromptGenerator/actions/workflows/build.yml"><img src="https://github.com/k0r0pt/aiImagePromptGenerator/actions/workflows/build.yml/badge.svg" /> <b>Build Status</b></a></div>
</div>
<mat-divider></mat-divider>
<br />
<br />
<br />
<br />
<br />
<mat-divider></mat-divider>
<div class="grid">
  <div id="leftPanel"><app-settings-specifier></app-settings-specifier></div>
  <div id="midPanel"><app-prompt-gen></app-prompt-gen></div>
  <div id="rightPanel"><app-llm-prompt-gen></app-llm-prompt-gen></div>
</div>