.grid, .linksGrid {
  display: flex;
  justify-content: space-between;
}

.grid div {
  flex: 0 0 33%;
}

.linksGrid div {
  flex: 0 0 33%;
  text-align: center;
}

.linksGrid div * {
  vertical-align: middle;
}

h1 {
  text-align: center;
}