<br />
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      LLM Options
    </mat-panel-title>
    <mat-panel-description>
      View and Modify the LLM Options
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field>
    <mat-label>LLM Service</mat-label>
    <mat-select [(ngModel)]="this.llmGenService.service">
      @for (llmSvc of llmGenService.services; track llmSvc) {
        <mat-option [value]="llmSvc">{{llmSvc}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br />
  @if (this.llmGenService.service === 'Ollama') {
    <mat-form-field>
    <mat-label>Ollama Base URL</mat-label>
    <input matInput type="text" [(ngModel)]="this.llmGenService.ollamaOpts.baseUrl" />
    </mat-form-field>
    <br />
  }
  <mat-form-field>
    <mat-label>LLM Model</mat-label>
    <mat-select [(ngModel)]="this.llmGenService.ollamaOpts.model">
      @for (model of llmGenService.models; track model) {
        <mat-option [value]="model">{{model}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Generate Prompt with LLM
    </mat-panel-title>
    <mat-panel-description>
      Generate the detailed Prompt with an LLM
    </mat-panel-description>
  </mat-expansion-panel-header>
  @if (llmGenService.generatingLlmPrompt) {
    <mat-spinner></mat-spinner>
  } @else {
    <mat-form-field appearance="fill">
      <mat-label>Detailed Prompt</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="30" cdkAutosizeMaxRows="50" [ariaMultiLine]="true" [(ngModel)]="llmGenService.detailedPromptText"></textarea>
    </mat-form-field>
  }
</mat-expansion-panel>
<br />
<mat-divider></mat-divider>
<br />
<button mat-raised-button color="primary" (click)="llmGenService.generateDetailedPrompt()">Generate Detailed Prompt</button>
